* {
    box-sizing: border-box;
}
header {
    grid-area: h;
}
nav {
    grid-area: n;
    margin-left: 0;
}
main {
    grid-area: m;
    margin-left: 60px;
}
aside {
    grid-area: a;
    margin: 15px;
    width: 390px;
}
footer {
    grid-area: f;
}
#wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template:
     "h"
     "n" 
     "m" 
     "f" 
}
header {
    text-align: center;
    background-color: #a9a9a9;
    border: 5px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(championsheader4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:whitesmoke;
    text-shadow: 10px 7px 7px black;
}
body {
    background-color: #FFFFFF;
}
.hero-title {
    font-size: 4em;
}
.hero-subtitle {
    font-size: 2em;
    font-style: italic;
    border: 3px solid;
    border-radius: 10em;
    padding: 10px
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #a9a9a9; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    list-style-type: none;
    /* border: 4px solid;
    border-radius: 5em; */
}
nav li {
    padding: 25px;
    min-width: 3em;
    margin: 5px;
    background-image: url(championsnav.jpg);
    background-repeat:repeat;
    background-size:cover;
    border: 5px solid;
    border-radius: 2em;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
nav a{
    text-decoration: none;
    color: #ffffff;
}
nav a:link {
    color: #ffffff;
}
nav a:hover {
    color: orangered;
}

.text-heading {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    text-align: center;
    border: 3px solid black;
    border-radius: 10em;
    background-color: #009000;
    background-image: url(championstext.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    text-shadow: 10px 7px 7px black;
    padding: 10px;
}
.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    text-align:center;
    background-color: #009000;
    background-image: url(championstext.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2.5px solid black;
    color: white;
    text-shadow: 10px 7px 7px black;
}
footer {
    text-align: center;
    background-color: #009000;
    border: 2px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(championstext.jpg);
    background-size: cover;
    color: #ffffff;
    text-shadow: 5px 5px 5px 5px black;
}
aside {
    border: 3px solid;
    margin-bottom: 50px;
    background-image: url(championsheader4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    text-shadow: 10px 7px 7px #000000;
    text-align: center;
}
meter {
    color:blue
}
@media (min-width: 300px){
    #wrapper {
        grid-template:
         "h"
         "n" auto
         "m"
         "f"
         /100%;
    }
    aside {
        font-size: 1.4em;
    }
}
@media (min-width:768px){
    #wrapper {
        grid-template:
           "h   h"
           "n   n"
           "m   a"
           "f   f"
           /60% 40%;
    }
    aside {
        margin: 10px;
    }
}

@media (min-width:1200px){
    #wrapper {
        grid-template:
           "h   h   h"
           "n   m   a"
           "f   f   f"
           /150px 2fr 1fr;
    }
}

    nav li {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 30px;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        margin-left: 0;
        font-size: large;
    }


a {
    color: lightblue;
    font-weight: bold;
}
a:hover {
    color: orangered;
}


