nav ul:hover {
    color: whitesmoke;
}
nav a {
    color: blanchedalmond;
}
nav a{
    color: black;
}
nav ul {
    list-style-type: none;
}
nav a{
    text-decoration: none;
}
.nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 30px;
    position: relative
}
nav li {
    background-color: yellow;
    border: solid 3px;
}

img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: right;
    width: 50vh;
    object-fit: cover;
    margin: 50px;
    border:solid 5px;
}
#flex {
    display: flex;
}
nav {
    flex:2;
}
main {
    flex:6.5;
}
aside {
    flex: 2.5;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.hero-title {
    background-color: yellow;
    text-align: center;
    border: solid 5px;
    font-size: 5em;
    padding: x;
    margin: 0;
}
.hero-subtitle {
    background-color: yellow;
    text-align: center;
    border: solid 5px;
    font-size: 3em;
}
.intro-text {
    background-color: yellow;
    border: solid 5px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
}
body {
    background-color: #000000;
}
.text-heading {
    font-size: 3em;
    background-color: yellow;
    border: solid black;
}
.text {
    background-color: yellow;
    border: solid 3px;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
figcaption {
    font-size: larger;
    border-bottom: solid;
    margin: 0 50px;
    color: aliceblue;
}
footer {
    background-color: yellow;
    border: solid 5px;
}
h1 {
    padding: 50px;
}
h2 {
    padding:40px
}
h3 {
    padding: 30px;
}
p {
    padding:15px
}